nav.main ul.main-nav {
	border-left: 0;
}
.container {
	padding-left: 60px;
	padding-right: 60px;
}
.panel.features {
	padding: 50px 0 0;
}
.panel.features .blocks .block {
	padding: 25px;
	height: auto;
	-webkit-transition: box-shadow .2s ease;
	transition: box-shadow .2s ease;
	will-change: box-shadow;
}
.panel.features .blocks .block .text {
	padding: 0;
	width: 80%;
	-webkit-transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
}
.panel.features .blocks {
	max-width: 800px;
}
h1 {
	margin-bottom: 50px;
}
footer.main {
	background-color: #f0f2f1;
	padding: 50px 0 20px;
}
.panel.features .blocks .block .text h2 {
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.panel.features .blocks .block .text h2 span {
	font-size: 15px;
	color: #80878c;
}
.panel.features .blocks .block-link {
	display: block;
}
.panel.features .blocks .block p {
	margin-bottom: 0;
}
.panel.features .blocks .block .text {
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.drag-handle {
	position: absolute;
	left: -50px;
	top: 50%;
	opacity: .2;
	padding: 10px 25px 10px 10px;
	transition: opacity .2s ease;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: move;
}
.block-wrapper {
	position: relative;
}
.ghost {
	background: #f4645f;
}
.panel.features .blocks .ghost .block .text h2 span {
	color: #f4645f;
}
.panel.features .block-wrapper.hover .block {
	box-shadow: 3px 0 0 #f4645f inset;
}
.panel.features .block-wrapper.hover .block .text {
	-webkit-transform: translateX(3px);
	transform: translateX(3px);
}
.panel.features .block-wrapper.hover .drag-handle:hover {
	opacity: .9;
}
